/* You can add global styles to this file, and also import other style files */


$primary: #C3002F !default;

@import '~@angular-schule/workshop-styles/index';

// nooo!!!
//
// .btn-primary {
//   background-color: red;
//   border-color: darkred;
// }

// .btn-primary:hover {
//   background-color: darkred;
//   border-color: black;
// }
