<div class="card mb-4">
  <div class="card-body bg-light">
    <img
      class="img-thumbnail float-right"
      alt="Image with cats"
      src="//api.angular.schule/avatar/{{ book.rating }}"
    />
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button
      [disabled]="!isRateDownEnabled(book)"
      class="btn btn-primary mr-2"
      (click)="doRateDown()"
    >
      -1
    </button>
    <!-- <button class="btn btn-primary mr-2" (click)="rateDown.emit(book)">-1</button> -->

    <button
      [disabled]="!isRateUpEnabled(book)"
      class="btn btn-primary"
      (click)="doRateUp()"
    >
      +1
    </button>

    <a [routerLink]="['/books/', book.isbn]" class="btn btn-secondary ml-2"
      >Details</a
    >
  </div>
</div>

{{ log() }}
